apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: pizza-helper
spec:
  replicas: 1
  selector:
    match_labels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
        - containerPort: 3000
        volumeMounts:
          - name: grafana-datasources
            mountPath: /etc/grafana/provisioning/datasources
            readOnly: false
          - name: grafana-dashboards-provider
            mountPath: /etc/grafana/provisioning/dashboards
            readOnly: false
          - name: grafana-dashboards
            mountPath: /var/lib/grafana/dashboards
            readOnly: false
      volumes:
        - name: grafana-datasources
          configMap:
            defaultMode: 420
            name: grafana-datasources
        - name: grafana-dashboards-provider
          configMap:
            defaultMode: 420
            name: grafana-dashboards-provider
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards
